/*******
    LAYOUT - MOBILE FIRST 
    BREAKPOINTS
    XS:     < 576 cont: 100%
    SM:     > 576 cont: 540px
    MD:     > 768 cont: 720px
    LG:     > 992 cont: 960px 
*******/

/* COMMONS */
body{
    font-family: Arial, sans-serif;
}

header{
    font-family: Helvetica, arial, sans-serif;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

/* HEADER */
.ms_brand_head{
    height: 35px;
    background-color: black;
    width: 100%;
}

.ms_container_header{
    padding: 0 1rem;
}

.ms_head_contain{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ms_brand_head img{
    height: 40%;
}

.ms_nav_header{
    height: 85px;
    width: 100%;
}

.ms_logo_head{
    display: inline-block;
    width: 50px;
}

.ms_left_menu ul{
    display: inline-block;
}

.ms_leftbar_content{
    height: 85px;
    display: flex;
    align-items: center;
}

.ms_nav_header ul{
    list-style: none;
    color: black;
}

.ms_rightbar_content{
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ms_rightbar_content ul:first-child li i{
    font-size: 1.5rem;
    color: black;
    padding-top: 0.5rem;
}

.ms_nav_header nav{
    text-align: right;
}

/* MAIN */
main{
    padding-top: 7.5rem;
}
/* JUMBO SECTION SPOT */
.ms_jumbo_spot{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.spot_game_img{
    width: 40%;
    padding-top: 12rem;
}

.spot_game_img img{
    width: 100%;
}

.ms_jumbo_content{
    color: white;
    width: 100%;
}

.ms_jumbo_content h2{
    font-size: 2.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}    

.ms_jumbo_content p{
    padding-bottom: 1rem;
}

.ms_jumbo_btn{
    display: inline-block;
    text-decoration: none;
    padding: 0.4rem 1rem;
    margin-bottom: 1.2rem;
    color: white;
    background-color: #cd3d0f;
    border-radius: 30px;
}

/* ANTEPRIME */
.ms_anteprime{
    padding: 2rem 0;
}

.ms_anteprime_content{
    padding-bottom: 1rem;
}

.ms_anteprime_content img{
    width: 100%;
    border-radius: 20px;
}

.ms_focused img{
    border: 2px solid black;
    padding: 0.1rem;
}

/* PLAYSTATION 5 CONTENT */
.ms_playfive_bundle{
    padding: 2.5rem 0;
}

.plafive_text{
    text-align: center;
}

.plafive_text span{
    color: #0f7ad0;
}

.plafive_text h1{
    padding:1.1rem 0;
}

.plafive_text p{
    padding-bottom: 3.5rem;
}

/* INFO CONSOLE */
.play_five_info_contain{
    height: 100%;
    display: flex;
    align-items: center;
}


.playfive_info h2{
    padding-bottom: 1rem;
}

    /* BTN */
.playfive_info a{
    text-decoration: none;
    color: white;
    background-color: #0f7ad0;
    padding: 0.5rem 0.6rem;
    border-radius: 25px;
    margin-bottom: 1rem;
}

.playfive_img{
    padding-top: 2rem;
}

.playfive_img img{
    width: 100%;
}

/* BUNDLE PS5 */
.ms_playfive_other_cont{
    opacity: 60%;
}

.ms_playfive_other_cont img{
    width: 100%;
}

.ms_playfive_other_cont h6{
    display: none;
}

.ms_lined{
    border-bottom: 2px solid #0f7ad0;
    padding: 1rem;
    opacity: 100%;
}

/* BANNER-SPOT */
.ms_banner_spot{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.spot_game_img{
    width: 40%;
    padding-top: 12rem;
}

.spot_game_img img{
    width: 100%;
}

.ms_banner_content{
    color: white;
    width: 100%;
}

.ms_banner_content h2{
    font-size: 2.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}    

.ms_banner_content p{
    padding-bottom: 1rem;
}
    /* BTN */
.ms_banner_btn{
    display: inline-block;
    text-decoration: none;
    padding: 0.4rem 1rem;
    margin-bottom: 1.2rem;
    color: white;
    background-color: #cd3d0f;
    border-radius: 30px;
}

/* NUOVE USCITE */
.ms_new_game{
    background-color: #1f1f1f;
    color: white;
    padding: 3.7rem 0;
}

.ms_newgame_text{
    padding-bottom: 1rem;
}

.ms_newgame_text p{
    font-size: 1.5rem;
}

.ms_newgame_cont img{
    width: 100%;
    padding: 0.2rem;
    border-radius: 35px;
}

/* SEZIONE PLAYSTATION 4 */
.ms_play_four{
    padding: 3.7rem 0;
}

.ms_playfour_text{
    text-align: center;
}

.ms_playfour_text h2 span{
    font-size: 0.8rem;
    vertical-align: super;
}

.ms_playfour_bundle img{
    width: 100%;
    padding: 1.2rem;
}

    /* BTN */
.ms_playfour_bundle a{
    text-decoration: none;
    color: white;
    background-color: #0f7ad0;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
}

/* SEZIONE PLAYSTATION PLUS E PLAY NOW */
.ms_promo_plus{
    background-color: #bebcbb;
}

.ms_plus_content{
    padding: 2rem 0;
}

.ms_plus_content img{
    width: 70%;
    padding: 1rem;
}

.ms_plus_content p{
    padding: 1rem 0;
}

.ms_plus_banner{
    height: 100%;
}

.ms_plus_banner img{
    width: 100%;
    height: 100%;
}

    /*PLUS BTN */
.ms_plus_btn{
    text-decoration: none;
    background-color: #d9dadc;
    color: #0f7ad0;
    padding: 0.5rem 0.7rem;
    border-radius: 25px;
}

/* BACKGROUND PALYSTATION NOW */
.ms_promo_now{
    background-color: #161c3b;
    color: white;
}

    /* PLAYNOW BTN */
.ms_now_btn{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 0.5rem 0.7rem;
    border-radius: 25px;
}

/* SCONTI PLAYSTATION STORE SEZIONE */
.ms_new_sales{
    padding: 2.5rem 0;
}

.ms_sales_text{
    text-align: center;
    padding-bottom: 2rem;
}

.ms_sales_text p{
    padding-top: 1.2rem;
}

.ms_sales_content img{
    width: 100%;
}

/* SEZIONE LINK SOCIAL MEDIA */
.ms_social_link{
    padding: 2.5rem 0;
}

.ms_social_link h2{
    padding-bottom: 2rem;
    text-align: center;
}

.ms_social_logo img{
    width: 100%;
}

/* FOOTER */
footer{
    background-color: #00439c;
    color: white;
    padding: 3.5rem 0;
}

    /* TOP FOOTER */
.ms_foot_logo{
    padding-bottom: 2rem;
    width: 85px;
}

.ms_footer_brand p img{
    width: 35px;
    padding-right: 10px;
}

.ms_footer_menu ul{
    list-style: none;
}

.ms_footer_menu ul a{
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    line-height: 32px;
}

    /* BOTTOM FOOTER */
.ms_footer_endtext{
    padding-top: 1rem;
}

.ms_footer_endtext{
    padding-top: 1rem;
}

.ms_footer_endtext img{
    width: 120px;
}

.ms_footer_endtext p{
    padding-top: 1rem;
    font-size: 0.9rem;
}

.ms_footer_endtext p a{
    color: white;
}

/* RESPONSIVE QUERY */

/* XSMALL SCREEN */
@media screen and (max-width: 576px) {
    /* HEADER */
    .ms_left_menu{
        display: none;
    }

    .ms_right_menu{
        display: none;
    }
    
    /* PLAYSTATION PLUS BANNER */
    .ms_plus_content{
        width: 100%;
    }

    .ms_d_none{
        display: none;
    }
}

/* MEDIUM SCREEN */
@media screen and (min-width:768px){

    /* BUNDLE */
    .ms_playfive_other_cont h6{
        display: block;
        text-align: center;
    }
}

/* LARGE SCREEN */
@media screen and (min-width: 992px) {
    .ms_container_header{
        max-width: 960px;
        margin: 0 auto;
        padding: 0 0.5rem;
    }

    .ms_nav_header ul{
        display: flex;
        font-size: 1rem;
        margin: 0;
        padding-left: 1rem;
    }

    .ms_leftbar_content{
        height: 85px;
        display: flex;
        align-items: center;
    }

    .ms_left_menu{
        width: 100%;
    }

    .ms_left_menu li{
        padding-right: 1rem;
    }

    .ms_left_menu li a{
        text-decoration: none;
        color: black;
        padding-right: 0.2rem;
    }

    .ms_left_menu li img,
    .ms_right_menu li img{
        color: black;
        width: 0.6rem;
    }

    .ms_right_menu{
        width: 100%;
    }

    .ms_rightbar_content{
        height: 85px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .ms_right_menu li a{
        text-decoration: none;
        color: inherit;
    }

    .ms_right_menu ul li:last-child img{
        width: 1.6rem;
    }

    .ms_right_menu li{
        padding-left: 1rem;
    }

    .ms_right_menu li .ms_btn_log{
        color: white;
    }

    .ms_btn_log{
        background-color: black;
        padding: 0.5rem 0.7rem;
        border-radius: 25px;
        margin: 0 0.5rem;
    }

    /* JUMBOTRON */

    .ms_banner_content{
        max-width: 45%;
    }

    
}
