/*******
    LAYOUT - MOBILE FIRST 
    BREAKPOINTS
    XS:     < 576 cont: 100%
    SM:     > 576 cont: 540px
    MD:     > 768 cont: 720px
    LG:     > 992 cont: 960px 
*******/

/* COMMONS */
body{
    font-family: Arial, sans-serif;
}

header{
    font-family: Helvetica, arial, sans-serif;
}

/* HEADER */
.ms_brand_head{
    height: 35px;
    background-color: black;
    width: 100%;
}

.ms_container_header{
    padding: 0 1rem;
}

.ms_head_contain{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ms_brand_head img{
    height: 40%;
}

.ms_nav_header{
    height: 85px;
    width: 100%;
}

.ms_logo_head{
    display: inline-block;
    width: 50px;
}

.ms_left_menu ul{
    display: inline-block;
}

.ms_leftbar_content{
    height: 85px;
    display: flex;
    align-items: center;
}

.ms_nav_header ul{
    list-style: none;
    color: black;
}

.ms_rightbar_content{
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ms_rightbar_content ul:first-child li i{
    font-size: 1.5rem;
    color: black;
    padding-top: 0.5rem;
}

.ms_nav_header nav{
    text-align: right;
}

/* MAIN */

/* JUMBO SECTION SPOT */
.ms_jumbo_spot{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.spot_game_img{
    width: 40%;
    padding-top: 12rem;
}

.spot_game_img img{
    width: 100%;
}

.ms_jumbo_content{
    color: white;
    width: 100%;
}

.ms_jumbo_content h2{
    font-size: 2.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}    

.ms_jumbo_content p{
    padding-bottom: 1rem;
}

.ms_jumbo_btn{
    display: inline-block;
    text-decoration: none;
    padding: 0.4rem 1rem;
    margin-bottom: 1.2rem;
    color: white;
    background-color: #cd3d0f;
    border-radius: 30px;
}

/* ANTEPRIME */
.ms_anteprime{
    padding: 2rem 0;
}

.ms_anteprime_content{
    padding-bottom: 1rem;
}

.ms_anteprime_content img{
    width: 100%;
    border-radius: 20px;
}

.ms_focused img{
    border: 2px solid black;
    padding: 0.1rem;
}

/* PLAYSTATION 5 CONTENT */
.ms_playfive_bundle{
    padding: 2.5rem 0;
}

.plafive_text{
    text-align: center;
}

.plafive_text span{
    color: #0f7ad0;
}

.plafive_text h1{
    padding:1.1rem 0;
}

.plafive_text p{
    padding-bottom: 3.5rem;
}

/* INFO CONSOLE */
.play_five_info_contain{
    height: 100%;
    display: flex;
    align-items: center;
}


.playfive_info h2{
    padding-bottom: 1rem;
}

    /* BTN */
.playfive_info a{
    text-decoration: none;
    color: white;
    background-color: #0f7ad0;
    padding: 0.5rem 0.6rem;
    border-radius: 25px;
    margin-bottom: 1rem;
}

.playfive_img{
    padding-top: 2rem;
}

.playfive_img img{
    width: 100%;
}

/* BUNDLE PS5 */
.ms_playfive_other_cont{
    opacity: 60%;
}

.ms_playfive_other_cont img{
    width: 100%;
}

.ms_playfive_other_cont h6{
    display: none;
}

.ms_lined{
    border-bottom: 2px solid #0f7ad0;
    padding: 1rem;
    opacity: 100%;
}

/* BANNER-SPOT */
.ms_banner_spot{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.spot_game_img{
    width: 40%;
    padding-top: 12rem;
}

.spot_game_img img{
    width: 100%;
}

.ms_banner_content{
    color: white;
    width: 100%;
}

.ms_banner_content h2{
    font-size: 2.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}    

.ms_banner_content p{
    padding-bottom: 1rem;
}

.ms_banner_btn{
    display: inline-block;
    text-decoration: none;
    padding: 0.4rem 1rem;
    margin-bottom: 1.2rem;
    color: white;
    background-color: #cd3d0f;
    border-radius: 30px;
}

/* RESPONSIVE QUERY */

/* XSMALL SCREEN */
@media screen and (max-width: 576px) {

    .ms_left_menu{
        display: none;
    }

    .ms_right_menu{
        display: none;
    }
    
}

/* MEDIUM SCREEN */
@media screen and (min-width:768px){

    /* BUNDLE */
    .ms_playfive_other_cont h6{
        display: block;
        text-align: center;
    }
}

/* LARGE SCREEN */
@media screen and (min-width: 992px) {
    .ms_container_header{
        max-width: 960px;
        margin: 0 auto;
        padding: 0 0.5rem;
    }

    .ms_nav_header ul{
        display: flex;
        font-size: 1rem;
        margin: 0;
        padding-left: 1rem;
    }

    .ms_leftbar_content{
        height: 85px;
        display: flex;
        align-items: center;
    }

    .ms_left_menu{
        width: 100%;
    }

    .ms_left_menu li{
        padding-right: 1rem;
    }

    .ms_left_menu li a{
        text-decoration: none;
        color: black;
        padding-right: 0.2rem;
    }

    .ms_left_menu li img,
    .ms_right_menu li img{
        color: black;
        width: 0.6rem;
    }

    .ms_right_menu{
        width: 100%;
    }

    .ms_rightbar_content{
        height: 85px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .ms_right_menu li a{
        text-decoration: none;
        color: inherit;
        padding-left: 0.2rem;
    }

    .ms_right_menu ul li:last-child img{
        width: 1.6rem;
    }

    .ms_right_menu li{
        padding-left: 1rem;
    }

    .ms_right_menu li .ms_btn_log{
        color: white;
    }

    .ms_btn_log{
        background-color: black;
        padding: 0.5rem 0.5rem;
        border-radius: 25px;
        margin: 0 0.5rem;
    }

    /* JUMBOTRON */

    .ms_banner_content{
        max-width: 45%;
    }

    
}
